@import "default.css";
@import "popup.css";

body {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    width:100%;
    height: 100vh;
}

@media screen and (max-width:768px) {
    body {
        font-size:10px;
        width:100%;
        height:100vh;
    }
}